.container h1 {
	color: darkslateblue;
}
.container h4 {
	color: darkorange;
}
.container p {
	padding-bottom: 20px;
}
.container a {
	color: darkorange;
}
.new-question {
	padding: 0 10px 15px 10px;
	color: slategray;
}

.ng-dirty.ng-valid {
	border-color: limegreen;
}
.ng-dirty.ng-invalid {
	border-color: red;
}
input[type="radio"] {
	margin: 0px 5px 0px 10px;
}


i {
	color: slategray;
	margin: 15px 0 40px 0;
}
i.fa-smile-o.active, i.fa-smile-o:hover {
	color: limegreen;
}
i.fa-frown-o.active, i.fa-frown-o:hover {
	color: red;
}