.container h1 {
	color: darkslateblue;
}
.container h4 {
	color: darkorange;
}
.container p {
	padding-bottom: 20px;
}
.container a {
	color: darkorange;
}
.container li {
	margin: 20px 0;
}
.new-question {
	padding: 0 10px 15px 10px;
	color: slategray;
}
.top-right {
	position: absolute;
	top: 0;
	right: 0;
	padding:10px;
}
.bottom-right {
	position: absolute;
	bottom: 0;
	right: 0;
	padding:10px;
}

.ng-dirty.ng-valid {
	border-color: limegreen;
}
.ng-dirty.ng-invalid {
	border-color: red;
}
input[type="radio"] {
	margin: 0px 5px 0px 10px;
}


i {
	color: slategray;
	margin: 15px 0 40px 0;
}
i.fa-smile-o.active, i.fa-smile-o:hover {
	color: limegreen;
}
i.fa-frown-o.active, i.fa-frown-o:hover {
	color: red;
}

.animate.ng-enter {
	-webkit-animation: fadeInRight 1s;
	animation: fadeInRight 1s;
}
.animate.ng-leave {
	-webkit-animation: fadeOutRight 1s;
	animation: fadeOutRight 1s;
}