.container h1 {
	color: darkslateblue;
}
.container h3 {
	margin-top: 5px;
}
.container p {
	padding-bottom: 20px;
}
.container a {
	color: darkorange;
}
.new-question {
	padding: 0 10px 15px 10px;
	color: slategray;
}

.ng-dirty.ng-valid {
	border-color: limegreen;
}
.ng-dirty.ng-invalid {
	border-color: red;
}
i {
	color: slategray;
}


i.fa-smile-o.active, i.fa-smile-o:hover {
	color: limegreen;
}
i.fa-frown-o.active, i.fa-frown-o:hover {
	color: red;
}