<div>
	<div class="clearfix">
		<a class="pull-right" href="#/questions/new"><span class="glyphicon glyphicon-plus"></span> Add new question</a>
	</div>

	<ul ng-repeat="(key, question) in questions" class="list-group">
		<li class="list-group-item">
			<h3><small>{{question.question}}</small></h3>
			<a href="#/questions/{{key}}" class="pull-right">Edit</a>
			<a ng-click="toggleAnswer(question)">
				<span class="glyphicon" ng-class="{'glyphicon-plus-sign':!question.showAnswer, 'glyphicon-minus-sign':question.showAnswer}"></span>
				ANSWER
			</a>
			<span ng-show="question.showAnswer"><em>{{question.answer}}</em></span>
		</li>
	</ul>
</div>