<div>
	<div class="clearfix new-question">
		You've answered {{correctAnswers()}} out of {{totalQuestions()}} correctly so far.
		<a class="pull-right" href="#/questions/new"><span class="glyphicon glyphicon-plus"></span> Add new question</a>
	</div>

	<ul ng-repeat="(key, question) in questions" class="list-group">
		<li class="list-group-item">

			<div class="pull-right text-right">
				<a ng-click="answerQuestion(question, true)"><i class="fa fa-smile-o fa-3x" ng-class="{active:question.answered && question.correct}"></i></a>
				<a ng-click="answerQuestion(question, false)"><i class="fa fa-frown-o fa-3x" ng-class="{active:question.answered && !question.correct}"></i></a>
			</div>

			<h3 class="clearfix"><small>{{question.question}}</small></h3>

			<div class="pull-right">
				<a href="#/questions/{{key}}">Edit</a> |
				<a ng-click="deleteQuestion(key)">Delete</a>
			</div>

			<a ng-click="toggleAnswer(question)">
				<span class="glyphicon" ng-class="{'glyphicon-plus-sign':!question.showAnswer, 'glyphicon-minus-sign':question.showAnswer}"></span>
				ANSWER
			</a>
			<span ng-show="question.showAnswer"><em>{{question.answer}}</em></span>

		</li>
	</ul>
</div>